* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 310px;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 0px auto;
    background-color: rgba(20, 20, 20, 0.5);
}

.header ul {
    width: 20%;
    text-align: center;
}

.header ul:hover {
    background-color: rgba(20, 20, 20, 0.8);
}

.header ul a {
    display: block;

    text-decoration: none;
    font-weight: bold;
    color: white;
    line-height: 40px;
}

nav {
    width: 100%;
    margin: auto;
    background-color: #018CCD;

}

nav h1 {
    text-align: center;
    color: white;
}

nav h4 {
    color: white;
    font-weight: 300;
    text-align: center;

}
.inunder img {
    width: 279px;
    height: 186px;
}
section {
    padding-top: 20px;
    width: 80%;
    height: 550px;
    margin: auto;
}

section h3 {
    text-align: center;
}

.sec {
    width: 80%;
    margin: 20px auto;
    display: flex;
    height: 200px;
}

.sec-a {
    width: 35%;
}

.sec-a img {
    width: 100%;
    height: 180px;
    padding-top: 18px;

}

.sec-b {

    width: 60%;
}

.sec-b p {
    line-height: 1.5;
}

.under {
    width: 80%;
    display: flex;
    height: 270px;
    margin: auto;
}

.inunder {
    width: 23%;
}

.inunder img {
    width: 100%;
}

.inunder p {
    text-align: center;
    line-height: 60px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #181818;
    text-align: center;
}

footer p {
    color: white;
    line-height: 100px;
}

.eat-head {
    margin: 5px auto;
    height: 200px;
    width: 100%;
    display: flex;
    background-color: #666;
}

.eat-head img {
    width: 16.66%;
}

.eat-item {
    padding-top: 30px;
    width: 70%;
    height: 870px;
    margin: auto;
    background-color: rgba(244, 244, 244, 0.9);
}

.eat-item p {
    line-height: 1.5;
}

.eat-item2 {
    width: 90%;
    display: flex;
    height: 160px;
    margin: 40px auto;
}

.eat-item3 {
    padding-top: 30px;
    width: 70%;
    height: 1300px;
    margin: auto;
    background-color: rgba(244, 244, 244, 0.9);
}

.eat-item-gjxw1 {
    padding-top: 30px;
    width: 70%;
    height: 2300px;
    margin: auto;
    background-color: rgba(244, 244, 244, 0.9);
}

.eat-item-gnxw4 {
    padding-top: 30px;
    width: 70%;
    height: 700px;
    margin: auto;
    background-color: rgba(244, 244, 244, 0.9);
}

.eat-item-gjxw4 {
    padding-top: 30px;
    width: 70%;
    height: 2300px;
    margin: auto;
    background-color: rgba(244, 244, 244, 0.9);
}
.eat-item3-gjxw5 {
    padding-top: 30px;
    width: 70%;
    height: 4700px;
    margin: auto;
    background-color: rgba(244, 244, 244, 0.9);
}

.eat-mid {
    width: 48%;
    background-color: rgba(255, 255, 255, 0.6);

}

.eat-mid img {
    width: 40%;
    height: 100%;
}

.eat-mid h5 {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

.eat-mid p {
    font-size: 5px;
}

.eat-mid5 {
    width: 50%;
    height: 160px;
    margin: auto;
    background-color: white;
}

.eat-mid5 img {
    width: 40%;
    height: 100%;
}

.eat-mid5 h5 {
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
}

.tese-mid {
    width: 80%;
    height: 200px;
    line-height: 26px;
    margin: auto;
}

.tese-mid img {
    float: right;
    width: 30%;
}
.fl {
    float: left;
    width: 45%;
}
.fr {
    float: right;
    width: 50%;
}
.tese-mid2 {
    width: 80%;
    margin: 40px auto 80px;
}

.tese-mid2 img {
    float: left;
    margin-right: 10px;
    width: 30%;
}
.main {
    padding: 30px 0;
    width: 1000px;
    margin: 0 auto;
    height: 400px;
}
.main .fl img {
    width: 450px;
    height: 337px;
}
.hd {
    font-size: 28px;
    text-align: center;
    color: #018CCD;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
}
a:hover {
    color: #018CCD;
}
.bd ul li {

    line-height: 60px;
}